{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input class="form-control" name="username" id="username" required>
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" required>
    <input type="submit" class="btn btn-outline-primary" value="Register">
  </form>
{% endblock %}
